/* .ppal h3, p{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.ppal h3{
    color: crimson;
}

.ppal img {
    margin: auto;
    display: block;
} */

/* .principal{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    position: relative;
    background: #f3f3f3;
    width: 300px;
    height:550px;
    margin: 100px 0;
    text-align: center;
    
}

.card p{
    padding: 10px 0px 20px 0px;
}

.card h2{
    padding-top: 60px;
}

.card .bground{
    border-radius: 5%;
} */

/* .container{
    padding: 2px 16px;
    text-align: center;
} */