.encabezado{
    display: flex;
    justify-content: space-between;
    padding: 1rem 10%;
    background-color: rgb(43, 49, 47);
    color: white;
}

.encabezado a{
    text-decoration: none;
    color: white;
}

.encabezado a:hover{
    color: #ee3030
}

.hoverNav:hover {
    background-color: rgba(0, 0, 0, 0.377);

}