.encabezado{
    display: flex;
    justify-content: space-between;
    padding: 1rem 10%;
    background-color: rgb(43, 49, 47);
    color: white;
}

.encabezado a{
    text-decoration: none;
    color: white;
}